:root{
    --azul-principal: #032D60;
    --azul-salesforce: #00A1E0;
}

*{
    padding: 0;
    margin: 0;
}


.section-pergunta{
    display: flex;
    align-items: center;
    justify-self: center;
    background-image: url('./../assets/BannerSalesforce.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
}
.section-pergunta h1{
    margin: 0 10px;
    font-size: 60px;
    color: var(--azul-principal);
}

.clientes{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.clientes h2{
    text-align: center;
    color: var(--azul-principal);
    width: 90%;
    font-size: 30px;
    margin-bottom: 20px;
}
.clientes p{
    display: flex;
    text-align: justify;
    width: 90%;
    margin: 50px 0;
}

.funcionarios{
    width: 100%;
    height: auto;
}

.trailblazers{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
.trailblazers h2{
    font-size: 40px;
}
.trailblazers h2, p{
    color: var(--azul-principal);
}

.cards-trailblazers{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}

.card-astro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
}
.card-astro h3{
    font-size: 25px;
}

@media screen and (min-width: 550px) {
    .section-pergunta h1{
        font-size: 80px;
        margin-left: 40px;
        width: 500px;
    }

    .clientes h2{
        max-width: 600px;
        font-size: 40px;
    }

    .clientes p{
        width: 85%;
    }

    .cards-trailblazers{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
    }
}

@media screen and (min-width: 1024px) {
    .section-pergunta{
        padding: 0 10%;
    }

    .clientes{
        padding: 0 10%;
    }

    .trailblazers{
        padding: 0 10%;
    }

    .clientes h2{
        font-size: 50px;
    }
    .clientes p{
        max-width: 70%;
    }

    .funcionarios{
        max-width: 90%;
    }
}