:root{
    --azul-principal: #032D60;
    --azul-salesforce: #00A1E0;
}

*{
    padding: 0;
    margin: 0;
}


.section-pergunta{
    display: flex;
    align-items: center;
    justify-self: center;
    background-image: url('./../assets/BannerSalesforce.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
}
.section-pergunta h1{
    margin: 0 10px;
    font-size: 80px;
    color: var(--azul-principal);
}

.clientes{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.clientes h2{
    text-align: center;
    color: var(--azul-principal);
    width: 90%;
    font-size: 30px;
    margin-bottom: 20px;
}
.clientes p{
    display: flex;
    text-align: justify;
    width: 90%;
    margin: 50px 0;
}

.funcionarios{
    width: 90%;
    height: auto;
}

.trailblazers{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
.trailblazers h2{
    font-size: 40px;
}
.trailblazers h2, p{
    color: var(--azul-principal);
}

.cards-trailblazers{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 60%;
    margin-top: 30px;
}

.card-astro h3{
    font-size: 25px;
}

@media screen and (min-width: 680px) {
    .section-pergunta h1{
        font-size: 100px;
    }
}