:root{
    --azul-principal: #032D60;
    --azul-salesforce: #00A1E0;
}

*{
    padding: 0;
    margin: 0;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.imagemBurguer{
    width: 35px;
    height: auto;
}

.botoes-menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.lupa{
    background: none;
    border: none;
}

.hamburger{
    background: none;
    border: none;
}

.menu-header{
    position: absolute;
    top: 60px;
    right: 5px;
    background-color: var(--azul-principal);
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    z-index: 999;
}

.menu-header ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-header li{
    padding: 10px 0;
}

.menu-header a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.menu-header-tela-maior{
    display: none;
}

@media screen and (min-width: 768px){

    .menu-header-tela-maior{
        display: flex;
    }
    
    .hamburger{
        display: none;
    }

    .botoes-menu{
        display: flex;
        flex-direction: row-reverse;
        gap: 80px;
    }

    
    .menu-header-tela-maior ul{
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 20px;
        padding: 0;
        margin: 0;
    }
    
    .menu-header li{
        padding: 10px 0;
    }
    
    .menu-header-tela-maior a{
        text-decoration: none;
        color: var(--azul-principal);
        font-weight: bold;
        font-size: 20px;
    }
    
}

@media (min-width: 1024px){
    
}