:root{
    --azul-principal: #032D60;
    --azul-salesforce: #00A1E0;
}

*{
    padding: 0;
    margin: 0;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--azul-principal);
    padding: 30px 20px;
}

.menu-footer{
    padding-bottom: 40px;
}

.menu-footer ul{
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-footer li{
    padding: 10px 0;
}

.menu-footer a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.endereco-logos{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding-bottom: 10px;
}
.endereco-logos address{
    color: #fff;
    text-align: center;
}

.copyright{
    color: white;
    padding: 20px 0;
}

@media screen and (min-width: 1024px){
    address{
        width: 400px;
        margin-right: 60px;
    }
}