:root{
    --azul-principal: #032D60;
    --azul-salesforce: #00A1E0;
}

*{
    padding: 0;
    margin: 0;
}

.container{
    margin: 0 auto;
}

section{
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}


.section-bg-escuro{
    background-color: #032D60;
}

.text1{
    color: white;
    width: 400px;
}
.text1 h1{
    margin-top: 20px;
    font-size: 80px;
    line-height: 4rem;
}
.text1 h3{
    font-size: 50px;
    margin-bottom: 10px;
}

.text2{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.text2 h3{
    color: #032D60;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.text2 p{
    color: #032D60;
    font-size: 15px;
    display: flex;
    justify-content: center;
    max-width: 80%;
}
.botao{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.text2 button{
    width: 200px;
    height: 60px;
    border: none;
    background-color: var(--azul-salesforce);
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    padding: 0 20px;
}
.text2 button:hover{
    color: var(--azul-principal);
}

.section-busca{
    padding-top: 20px;
    text-align: center;
    color: white;
}

.section-busca h2{
    font-size: 30px;
    padding-bottom: 30px;
}

.section-busca h3{
    font-size: 20px;
    padding-bottom: 30px;

}

article{
    background-color: white;
    width: 210px;
    height: 170px;
    border-radius: 30px;
}

article img{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

article h4{
    color: #032D60;
    text-align: center;
    font-size: 18px;
    padding-top: 5px;
}

.flex-article{
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.style-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
}
.style-form label{
    color: var(--azul-principal);

}
.style-form input{
    border-radius: 10px;
    height: 25px;
    padding-left: 5px;
}
form{
    display: flex;
    flex-direction: column;
}
.estado{
    width: 50px;
}
.cidade-interesse{
    width: 100px;
}
.local{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}
.tres-forms{
    display: flex;
    flex-direction: column;
}


.perdido{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.perdido button{
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    background-color: var(--azul-salesforce);
    color: var(--azul-principal);
    font-size: 18px;
    margin-top: 50px;
}
.perdido button:hover{
    color: white;
}

.urso{
    text-align: center;
}
.urso h3{
    font-size: 30px;
}

.section-urso{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}


@media screen and (max-device-width: 680px){
    .flex{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .direction{
        flex-direction: column-reverse;
    }

    .vlibras{
        margin-bottom: 30px;
    }

    .text1{
        width: 300px;
        margin-bottom: 50px;
    }
    .text1 h1{
        font-size: 60px;
    }
    .text1 h3{
        font-size: 40px;
        margin-bottom: 10px;
    }

    .text2{
        margin-bottom: 30px;
    }
    .text2 button{
        width: 250px;
        height: 60px;
        font-weight: 400;
        font-size: 20px;
        padding: 0 30px;
    }

    .astro-atendente{
        margin-bottom: 30px;
    }

    .section-urso{
        width: 90%;
    }
    
}